{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/media/timecard/style.css" />
{% endblock %}

{% block page_script %}
<script type="text/javascript">
    var active_timecard = null;
    var last_heartbeat = new Date();

    function activate_timecard(timecard) {
        active_timecard = timecard;
        $("input[type=submit]").removeAttr("disabled");
    }

    function deactivate_timecard() {
        active_timecard = null;
        $("input[type=submit]").attr("disabled", "disabled");
    }

    function clear_details() {
        clear_stamps();
        clear_summary();
        clear_cardtypes();
        show_image("{{ STATIC_URL }}/images/scan_something.jpg");
        show_error("");
        deactivate_timecard();
    }

    function show_error(msg) {
        document.getElementById("error").innerHTML = msg;
    }

    function show_heartbeat_error(msg) {
        document.getElementById("heartbeat_error").innerHTML = msg;
    }

    function show_name(profile) {
        document.getElementById("profile").innerHTML = profile.first_name + " " + profile.last_name;
    }

    function show_image(image) {
        $("#profile_face").attr("src", image);
    }

    function clear_cardtypes(timecards) {
        var cards = "<table></table>";

        document.getElementById("cardtypes").innerHTML = cards;
    }

    function show_cardtypes(timecards) {
        var cards = "<form><table>";
        var count = 1;
        var heads = ['<td class="even">', '<tr><td class="odd">'];
        var tails = ["</td></tr>", "</td>"];

        $.each(timecards, function(i, item) {
            cards = cards + heads[count % 2] + "<input type=\"radio\" id=\"card_button\" name=\"timecard_select\" onclick=\"lookup_timecard('" + item[1] + "')\"/>" + item[0] + tails[count % 2];
            count = count + 1;
        });

        cards = cards + "</table></form>";

        document.getElementById("cardtypes").innerHTML = cards;

        if (count == 2) {
            // $(".timecard_select").prop("checked", true);
            $("#card_button").attr("checked", true);
            lookup_timecard(timecards[0][1]);
        }
    }

    function clear_summary() {
        var summary = "";

        document.getElementById("summary").innerHTML = summary;
    }

    function show_summary(timecard) {
        var summary = "<table>";

        summary = summary + '<tr><td class="odd">Start Date:</td><td class="odd">' + timecard.start_date + "</td></tr>";
        summary = summary + '<tr><td class="even">End Date:</td><td class="even">' + timecard.end_date + "</td></tr>";
        summary = summary + '<tr><td class="odd">Hours Today:</td><td class="odd">' + timecard.hours_today + "</td></tr>";
        summary = summary + '<tr><td class="even">Hours Total:</td><td class="even">' + timecard.hours_total + "</td></tr>";
        summary = summary + "</table>";

        document.getElementById("summary").innerHTML = summary;
    }

    function cleanup_timestamp(timestamp) {
        var stamp;

        if (timestamp) {
            stamp = timestamp.split(": ")[1].split(".")[0];

        } else {
            stamp = " ";
        }

        return stamp;
    }

    function clear_stamps() {
        var stamps = '<table id="stampsTable">';
        stamps = stamps + '<tr><th class="verticalLine">' + "Date" + '</th><th class="verticalLine">' + "Time In" + '</th><th>' + "Time Out" + '</th></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="odd verticalLine">' + "" + '</td><td class="odd verticalLine">' + "" + '</td><td class="odd">' + "" + '</td></tr>';
        stamps = stamps + '<tr><td class="even verticalLine">' + "" + '</td><td class="even verticalLine">' + "" + '</td><td class="even">' + "" + '</td></tr>';

        stamps = stamps + "</table>";

        document.getElementById("stamps").innerHTML = stamps;
    }

    function show_stamps(pairs) {
        var stamps = '<table id="stampsTable">';
        stamps = stamps + '<tr><th class="dark verticalLine">' + "Date" + '</th><th class="dark verticalLine">' + "Time In" + '</th><th class="dark">' + "Time Out" + '</th></tr>';
        var count = 1;
        var heads = ['<tr><td class="even verticalLine">', '<tr><td class="odd verticalLine">'];
        var left  = ['</td><td class="even verticalLine">', '</td><td class="odd verticalLine">'];
        var right = ['</td><td class="even">', '</td><td class="odd">'];

        $.each(pairs, function(i, item) {
            var sin = cleanup_timestamp(item[0]).split(" ");
            var sout = cleanup_timestamp(item[1]).split(" ");

            stamps = stamps + heads[count % 2] + sin[0] + left[count % 2] + sin[1] + right[count % 2] + sout[1] + "</td></tr>";
            count = count + 1;
        });

        stamps = stamps + "</table>";

        document.getElementById("stamps").innerHTML = stamps;
    }


    function lookup_profile_rfid(id) {
        new $.getJSON("/api/v1/profile/?rfid__rfid=" + id,
                      {},
                      function(data) {
                          clear_details();
                          show_name(data.objects[0]);
                          show_image(data.objects[0].image);
                          show_cardtypes(data.objects[0].timecards);
                      })

        .error(function(jqXHR, textStatus, errorThrown) {
            var fields = eval("(" + jqXHR.responseText + ")");

            show_error("lookup_profile_rfid: " + fields.error_message);
        })
    }

    function lookup_timecard(uri) {
        new $.getJSON(uri,
                      {},
                      function(data) {
                          activate_timecard(uri);
                          show_summary(data);
                          show_stamps(data.pairs);
                      })

        .error(function(jqXHR, textStatus, errorThrown) {
            show_error("lookup_timecard: " + errorThrown);
        })
    }

    function check_heartbeat() {
        var now = new Date();
        var delta = now - last_heartbeat;

        //alert(delta);
        if (delta > {{ RFID_CHECK_RATE }}) {
            document.getElementById("heartbeat").innerHTML = "";
            show_heartbeat_error("last heartbeat:" + last_heartbeat);
            connect_rfid_reader();
        }
    }

    function connect_rfid_reader() {
        var wsurim = "{{ RFID_URL }}";
        webSocketm = new WebSocket(wsurim);
        webSocketm.onmessage = function(e) { onMessage(e) };

        function onMessage(e)
        {
            var fields = eval("(" + e.data + ")");
    
            if ("heartbeat" in fields) {
                // 2012-09-15 16:15:04.22334
                var date = fields.heartbeat.split(" ")[0].split("-");
                var time = fields.heartbeat.split(" ")[1].split(".")[0].split(":");

                last_heartbeat = new Date(date[0], date[1] - 1, date[2], time[0], time[1], time[2]);
                document.getElementById("heartbeat").innerHTML = fields.heartbeat.split(".")[0];
                show_heartbeat_error("");

            } else {

                lookup_profile_rfid(fields.rfid);
            }
        }
    }

    $(document).ready(function() {
        connect_rfid_reader();
        clear_details();

        setInterval(function(){check_heartbeat()}, {{ RFID_CHECK_RATE }});

    });
</script>

{% endblock %}


{% block sidebar %}
{% endblock %}


{% block content %}
    <div id="outline">
      <div id="timeclock">Time Clock</div>
      <div id="welcome">Timecard</div>
      <div id="error"></div>
      <div id="heartbeat_error"></div>
      <div id="heartbeat"></div>
      <div id="profile"></div>
      <div id="profile_image"><img id="profile_face" height="160" width="120" src="{{ STATIC_URL }}/images/scan_something.jpg"/></div>
      <div id="summary"></div>
      <div id="cardtypes"></div>
      <div id="stamps"></div>
      <div id="stamp_card">
          <form action="/" id="stampit">
              <input type="submit" value="Stamp" />
          </form>
      </div>
    </div>

    <script>
    $("#stampit").submit(function(event) {
        event.preventDefault();
        if (active_timecard) {
            $.ajax({
                url: "/api/v1/stamp/",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({"timecard": active_timecard}),
                dataType: 'json',
        processData: false
            }).done(function(msg) {
                lookup_timecard(active_timecard);
            });
    }
    });
    </script>
{% endblock %}
