{% extends "timecard/base.html" %}

{% block title %}Tempus Timecard{% endblock %}

{% block page_header %}Tempus Timecard{% endblock %}

{% block content %}

<script src="/site_media/prototype.js" type="text/javascript"></script>
<script src="/site_media/effects.js" type="text/javascript"></script>
<script src="/site_media/controls.js" type="text/javascript"></script>
<script src="/site_media/livepipe.js" type="text/javascript"></script>
<script src="/site_media/tabs.js" type="text/javascript"></script>
<script src="/site_media/note.js" type="text/javascript"></script>

<script type="text/javascript">
var valid_intern = false;
var valid_create = false;
var clear_intern = false;
var clear_create = false;

Event.observe(window, 'load', window_loaded);

function window_loaded() {
    $('intern_id').focus();
    $('intern_stamper').disable();
    disableCreateStamper();
    doClock();
}


function person_title(person) {
    if (person.is_studio_manager)     return "Studio Manager";
    else if (person.is_staff)         return "Staff";
    else if (person.is_faculty)       return "Faculty";
    else if (person.is_studio_renter) return "Studio Renter";
    else if (person.is_create_member) return "Create Member";
    else if (person.is_intern)        return "Intern";
    else if (person.is_volunteer)     return "Volunteer";
    else return "Nothing";
}

function getInternData(field, li) {
    if (clear_intern) {
        clearTimeout(clear_intern);
        clear_intern = false;
    }
    getInternName(li.id);
}

function getCreateData(field, li) {
    if (clear_create) {
        clearTimeout(clear_create);
        clear_create = false;
    }
    getCreateName(li.id);
}

function getInternName(id) {
    new Ajax.Request('/tools/org/' + id + '/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval(transport.responseText);
            $("intern_error").textContent = "";
            $("intern_name").textContent = data[0].fields.first_name + " " + data[0].fields.last_name;
            $("intern_category").textContent = person_title(data[0].fields);
            $("intern_image").src = "/site_media/" + data[0].fields.image;
            $('intern_stamper').enable();
            valid_intern = true;
            getInternCard(id);
        },
        onFailure: function() {
            $("intern_error").textContent = 'Invalid Id Entered';
            $('intern_stamper').disable();
            valid_intern = false;
        }
    });
}

function getCreateName(id) {
    new Ajax.Request('/tools/org/' + id + '/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval(transport.responseText);
            $("create_error").textContent = "";
            $("create_name").textContent = data[0].fields.first_name + " " + data[0].fields.last_name;
            $("create_category").textContent = person_title(data[0].fields);
            $("create_image").src = "/site_media/" + data[0].fields.image;
            enableCreateStamper();
            valid_create = true;
            getCreateCard(id);
        },
        onFailure: function() {
            $("create_error").textContent = 'Invalid Id Entered';
            disableCreateStamper();
            valid_create = false;
        }
    });
}


function getInternCard(id) {
    new Ajax.Request('/tools/timecard/' + id + '/invol/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval(transport.responseText);
            $("intern_error").textContent = "";
            $("intern_stamper").enable();
            $("card_id").value = data[0].pk;
            getInternStamps(data[0].pk);
            getInternSummary(data[0].pk);
            $("intern_stamper").enable();
            valid_intern = true;
        },

        onFailure: function() {
            $("intern_stamps").update("<tr><td></td><td></td><td></td></tr>");
            $("intern_error").textContent = 'No active timecard found - Please see your manager.';
            $('intern_stamper').disable();
            valid_intern = false;
        }
    });
}


function getCreateCard(id) {
    new Ajax.Request('/tools/create/usage/' + id + '/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval(transport.responseText);
            $('create_stamper').enable();
            $('create_stamps').update(build_usage(data));
            $("create_error").textContent = "";
        },

        onFailure: function() {
            $("create_stamps").update("<tr><td></td><td></td><td></td><td></td></tr>");
            $("create_error").textContent = 'No usage log found.';
        }
    });
}


function build_timecard(data) {
    var body = "";

    for (var idx=0; idx < data.length; idx++) {
        var date = "";
        var clockin = "";
        var clockout = "";

        if (data[idx].fields != null ) {
            if (data[idx].fields.stamp_in  != null) date     = data[idx].fields.stamp_in.split(" ")[0];
            if (data[idx].fields.stamp_in  != null) clockin  = data[idx].fields.stamp_in.split(" ")[1];
            if (data[idx].fields.stamp_out != null) clockout = data[idx].fields.stamp_out.split(" ")[1];

            body += "<tr><td>" + date + "</td><td>" + clockin + "</td><td>" + clockout + "</td></tr>";
        }

    }
    return body;
}


function build_usage(data) {
    var body = "";

    for (var idx=0; idx < data.length; idx++) {
        var date = "";
        var clockin = "";
        var clockout = "";
        var areas = "";

        if (data[idx].fields != null ) {
            if (data[idx].fields.date       != null) date     = data[idx].fields.date;
            if (data[idx].fields.start_time != null) clockin  = data[idx].fields.start_time;
            if (data[idx].fields.end_time   != null) clockout = data[idx].fields.end_time;
            for (var aidx=0; aidx < data[idx].fields.areas.length; aidx++) {
                areas += areaAbreviation(data[idx].fields.areas[aidx]) + ', ';
            }
            body += "<tr><td>" + date + "</td><td>" + clockin + "</td><td>" + clockout + "</td><td>" + areas + "</td></tr>";
        }

    }
    return body;
}


function getInternStamps(id) {
    new Ajax.Request('/tools/timecard/stamps/' + id + '/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval(transport.responseText);

            $("intern_stamps").update(build_timecard(data));
            $("intern_error").textContent = "";
        },

        onFailure: function() {
            $("intern_stamps").update("<tr><td></td><td></td><td></td></tr>");
        }
    });
}


function build_card_summary(data) {
    return "<tr><td>Hours today: " + data.today + "</td></tr><tr><td>Hours total: " + data.total + "</td></tr>";
}


function getInternSummary(id) {
    new Ajax.Request('/tools/timecard/summary/' + id + '/json', {
        method: 'get',
        onSuccess: function(transport) {
            var data = eval("(" + transport.responseText + ")");
            $("intern_summary").update(build_card_summary(data));
        },

        onFailure: function() {
            alert('intern summary failure');
            $("intern_summary").update("");
        }
    });
}


function checkTime(i) {
    if (i<10) {
        i = "0" + i;
    }
    return i;
}

function doClock() {
    new Ajax.Request("/tools/timecard/timestamp/json", {
        method: 'get',
        onSuccess: function(transport) {
            server_timestamp = eval("(" + transport.responseText + ")");

            $("current_i_date").textContent = server_timestamp.month + '/' + server_timestamp.day + '/' + server_timestamp.year;
            $("current_c_date").textContent = server_timestamp.month + '/' + server_timestamp.day + '/' + server_timestamp.year;

            $("current_i_time").textContent = checkTime(server_timestamp.hour) + ':' + checkTime(server_timestamp.minute);
            $("current_c_time").textContent = checkTime(server_timestamp.hour) + ':' + checkTime(server_timestamp.minute);

            setTimeout("doClock()", 60000);
        }
    });
}


function clearIntern() {
    clear_intern = false;
    $("intern_error").textContent = "";
    $("intern_name").textContent = "";
    $("intern_category").textContent = "";
    $("intern_image").src = "";
    $("intern_stamps").update("<tr><td></td><td></td><td></td></tr>");
    $("intern_summary").update("<tr><td></td></tr><tr><td></td></tr>");
}


function clearCreate() {
    clear_create = false;
    $("create_error").textContent = "";
    $("create_name").textContent = "";
    $("create_category").textContent = "";
    $("create_image").src = "";
    $("create_stamps").update("<tr><td></td><td></td><td></td><td></td></tr>");
    clearCreateAreas();
}

function areaAbreviation(id) {
{% for area in areas %}
    if (id == {{ area.id }}) return "{{ area.abreviation }}";
{% endfor %}
}

function areaName(id) {
{% for area in areas %}
    if (id == {{ area.id }}) return "{{ area.name }}";
{% endfor %}
}

function clearCreateAreas() {
{% for area in areas %}
    $("stamp_create").reset($("area_{{ area.abreviation }}"));
{% endfor %}
}

function enableCreateStamper() {
    $('create_stamper').enable();
{% for area in areas %}
    $("area_{{ area.abreviation }}").enable();
{% endfor %}
}

function disableCreateStamper() {
    clearCreateAreas();
    $('create_stamper').disable();
{% for area in areas %}
    $("area_{{ area.abreviation }}").disable();
{% endfor %}
}

</script>


<ul id="timecard_tabs" class="subsection_tabs">
    <li class="tab"><a href="#interns">Interns/Vols</a></li>
    <li class="tab"><a href="#create">Create</a></li>
</ul>


<div id="interns">
<table border="1" width="100%">
  <tr>
    <td colspan="2">
        <form id="stamp_intern" method="post">
        <input type="hidden" name="stamp_for" value="intern">
        <input type="hidden" id="card_id" name="card_id" value=""> 

        <table border="0" width="100%">
          <tr>
            <td valign="top"><br></td>
            <td valign="top" colspan="5"><span id="intern_error" class="red"></span></td>
          </tr>
          <tr>
            <td valign="top">Id:</td>
            <td valign="top"><input id="intern_id" type="text" name="id" autocomplete="off" size="25"/>
                             <div id="intern_id_choices" class="autocomplete"> </div></td>
            <td valign="top"><span id="current_i_date">01/01/0001</span> <span id="current_i_time">00:00</span></td>
            <td valign="top"><input id="intern_stamper" type="submit" value="Stamp your timecard" /></td>
            <td valign="top"><span id="intern_name">Unknown</span> <br/> <span id="intern_category"> Unknown </span></td>
            <td valign="top"><img id="intern_image" src="" height="160" width="128"/></td>
          </tr>
        </table>
        </form>

        <script type="text/JavaScript">
            new Ajax.Autocompleter("intern_id", "intern_id_choices", "/tools/org/autocomplete/invols/", {
                afterUpdateElement: getInternData});

            $('stamp_intern').observe('submit', function(event) {
                Event.stop(event); // stop the form from submitting

                if (valid_intern) {
                    $('stamp_intern').request({
                        method: 'post',
            
                        onFailure: function() {
                            alert('submitting stamp timecard error');
                        },
            
                        onSuccess: function(transport) {
                            var data = eval(transport.responseText);

                            $('intern_error').textContent = "";
                            $('intern_id').value = "";
                            $('intern_id').focus();
                            $('intern_stamper').disable();
                            valid_intern = false;

                            $("intern_stamps").update(build_timecard(data));
                            getInternSummary(data[0].fields.card)

                            clear_intern = setTimeout("clearIntern()", 10000);

                        }
                    });
                }
            });
        </script>
    </td>
  </tr>

  <tr>
    <td colspan="2"><hr/></td>
  </tr>

  <tr>
    <td valign="top" colspan="2"><span id="intern_error" class="red"></span></td>
  </tr>
  <tr>
    <td valign="top">

        <table border="1">
          <thead>
          <tr>
            <th>Date</th>
            <th>Clock In Time</th>
            <th>Clock Out Time</th>
          </tr>
          </thead>
          <tbody id="intern_stamps">
          <tr>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
          </tr>
          </tbody>
        </table>
    </td>
    <td valign="top">
        <table border="1">
          <tbody id="intern_summary">
          </tbody>
        </table>

    </td>
  </tr>
</table>
</div>


<div id="create">

{% for area in areas %}
    <div id='note_{{ area.abreviation }}' style="display:none; margin: 5px; background-color: grey;">
    {{ area.name }} <br/>
    </div>
{% endfor %}

<table border="1" width="100%">
  <tr>
    <td colspan="2">
        <form id="stamp_create" method="post">
        <input type="hidden" name="stamp_for" value="create">

        <table border="0" width="100%">
          <tr>
            <td valign="top"><br></td>
            <td valign="top" colspan="5"><span id="create_error" class="red"></span></td>
          </tr>

          <tr>
            <td valign="top">Id:</td>
            <td valign="top"><input id="create_id" type="text" name="id" autocomplete="off" size="25"/>
                             <div id="create_id_choices" class="autocomplete"> </div></td>
            <td valign="top"><span id="current_c_date">01/01/0001</span> <span id="current_c_time">00:00</span></td>
            <td valign="top"><input id="create_stamper" type="submit" value="Stamp your timecard" /></td>
            <td valign="top"><span id="create_name">Unknown</span> <br/> <span id="create_category"> Unknown </span></td>
            <td rowspan="2" valign="top"><img id="create_image" src="" height="160" width="128"/></td>
          </tr>

          <tr>
            <td colspan="5">
                <table border="0">

                  <tr><td colspan="6"><span id="area_name"><br/></span></td><td><br/></td></tr>
                  <tr>
                  {% for area in areas %}
                    {% ifequal area.id 8 %}
                    </tr><tr>
                    {% endifequal %}
                    {% ifequal area.id 15 %}
                    </tr><tr>
                    {% endifequal %}
                    {% ifequal area.id 22 %}
                    </tr><tr>
                    {% endifequal %}

                      <td><span id="{{ area.abreviation }}"><input id="area_{{ area.abreviation }}" type="checkbox" name="areas" value="{{ area.abreviation }}" />{{ area.abreviation }}</span></td>

                          <script type="text/javascript">
                          var area_{{ area.abreviation }}_note = new Note('{{ area.abreviation }}', 'note_{{ area.abreviation }}', 'area_name')
                          </script>

                          {% endfor %}
                  </tr>

                </table>
            </td>
          </tr>
        </table>
        </form>

        <script type="text/JavaScript">
            new Ajax.Autocompleter("create_id", "create_id_choices", "/tools/org/autocomplete/create/", {
                afterUpdateElement: getCreateData});

            $('stamp_create').observe('submit', function(event) {
                Event.stop(event); // stop the form from submitting

                if (valid_create) {
                    $('stamp_create').request({
                        method: 'post',
            
                        onFailure: function() {
                            alert('submitting stamp timecard error');
                        },
            
                        onSuccess: function(transport) {
                            var data = eval(transport.responseText);

                            $('create_error').textContent = "";
                            $('create_id').value = "";
                            $('create_id').focus();
                            disableCreateStamper();
                            valid_create = false;

                            $("create_stamps").update(build_usage(data));
            
                            clear_create = setTimeout("clearCreate()", 10000);
                        }
                    });
                }
            });
        </script>
    </td>
  </tr>

  <tr>
    <td colspan="2"><hr/></td>
  </tr>

  <tr>
    <td valign="top" colspan="2"><span id="create_error" class="red"></span></td>
  </tr>
  <tr>
    <td valign="top">

        <table border="1">
          <thead>
          <tr>
            <th>Date</th>
            <th>Clock In Time</th>
            <th>Clock Out Time</th>
            <th>Areas Used</th>
          </tr>
          </thead>
          <tbody id="create_stamps">
          <tr>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
          </tr>
          </tbody>
        </table>
    </td>
  </tr>
</table>
</div>


<script type="text/JavaScript">
var tabs = new Control.Tabs('timecard_tabs');
tabs.setActiveTab('interns');
</script>

{% endblock %}
