<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/site_media/style.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/print.css" media="print" /> 
    <script type="text/javascript" src="/site_media/jquery-1.4.2.min.js"></script> 
    <script type="text/javascript" src="/site_media/jquery.tablesorter.js"></script>
    {% block page_css %}
    {% endblock %}
<title>{% block title %}The Crucible Tools{% endblock %}</title>

</head>

<body>
    <div id="header">
      <img src="/site_media/logo.png" alt="The Crucible"/>{% block page_header %}{% endblock %}
      {% block breadcrumbs %}{% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
