#header {
    display: none;
}


#sidebar {
    display: none;
}


#content {
    position: absolute;
    top: 0em;
    left: 0em;
    width: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    float: none;
}
